# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables / secrets
# .env
# .env.*
# !.env.example

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checking / linters
.mypy_cache/
.ruff_cache/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build / packaging
build/
dist/
*.egg-info/

# SQLs
*.db
*.sqlite
*.sqlite3